// 
// Primary colors
// 
$midnightGreen: #014E56;
$lightCoral: #F67E7E;
// 
// Secondary colors
// 
$raptureBlue: #79C8C7;
$policeBLue: #2C6269;
$jungleGreen: #004047;
$darkGreen: #002529;
$sacramento: #012F34;
// 
// 
// File Paths
$icon: '../../icons';
$img: '../../images';
// 
// e.g. url(#{$assetPath}/site/background.jpg)
// 